.nested-fields
  .form-group
    = f.label :street, 'Street'
    = f.text_field :street, class: 'form-control'
  .form-group
    = f.label :zipcode, 'Zipcode'
    = f.text_field :zipcode, class: 'form-control'
  .form-group
    = f.label :city, 'City'
    = f.text_field :city, class: 'form-control'
    
  = link_to_remove_association "remove address", f
