= form_for @user do |form|
  .form-group
    = form.label :first_name, 'First name'
    = form.text_field :first_name, class: 'form-control'
  .form-group
    = form.label :last_name, 'Last name'
    = form.text_field :last_name, class: 'form-control'
  .form-group
    = form.label :organization_id, 'Organization'
    = form.select :organization_id, options_for_select(Organization.all.map{|o| [o.name, o.id] }), {}, { class: 'form-select' }
  
  = form.submit
  %a.btn.btn-dark{ href: users_path }= 'Back to lists'
