.row
  .col-6= paginate @users
  .col-6
    %div{ style: 'float: right;' }= page_entries_info @users

%table.table-bordered{ class: "table" }
  %thead
    %tr
      %th= 'ID'
      %th= 'Meno'
      %th= 'Priezvisko'
      %th= 'Email'
      %th= 'Organizácia'
      - 4.times do
        %th
  %tbody
    - @users.each do |user|
      %tr
        %td= user.id
        %td= user.first_name
        %td= user.last_name
        %td= user.email
        %td= user.organization&.name
        %td
          %a.btn.btn-dark{ href: user_path(user), target: '_blank' }= 'Detail' 
        %td
          %a.btn.btn-danger{ href: user_path(user), data: { method: :delete, remote: true } }= 'Delete'
        %td
          %a.btn.btn-primary{ href: edit_user_path(user) }= 'Edit'
        %td
          %a.btn.btn-warning{ href: wakeup_user_path(user), data: { method: :post } }= 'Wake up'

.row
  .col-6= paginate @users
  .col-6
    %div{ style: 'float: right;' }= page_entries_info @users
